.gi-1-1x  { font-size: 1.1em;  }
.gi-1-15x { font-size: 1.15em; }
.gi-1-25x { font-size: 1.25em; }
.gi-1-5x  { font-size: 1.5em;  }
.gi-2x    { font-size: 2em;    }
.gi-3x    { font-size: 3em;    }
.gi-4x    { font-size: 4em;    }
.gi-5x    { font-size: 5em;    }

